svg {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji;
  font-size: 14px;
  line-height: 21px;
}

#background {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  fill: white;
  stroke: rgb(225, 228, 232);
  stroke-width: 1px;
  rx: 6px;
  ry: 6px;
}

foreignObject {
  width: calc(100% - 10px - 32px);
  height: calc(100% - 10px - 24px);
}

h2 {
  margin-top: 0;
  margin-bottom: 0.75em;
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(36, 41, 46);
  fill: rgb(36, 41, 46);
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

li {
  display: inline-flex;
  font-size: 12px;
  margin-right: 2ch;
  align-items: center;
  flex-wrap: nowrap;
  transform: translateX(-500%);
  animation: slideIn 2s ease-in-out forwards;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

div.ellipsis {
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.octicon {
  fill: rgb(88, 96, 105);
  margin-right: 0.5ch;
  vertical-align: top;
}

.progress {
  display: flex;
  height: 8px;
  overflow: hidden;
  background-color: rgb(225, 228, 232);
  border-radius: 6px;
  margin-bottom: 1em;
}

.progress-item {
  outline: 2px solid rgb(225, 228, 232);
  border-collapse: collapse;
}

.lang {
  font-weight: 600;
  margin-right: 4px;
  color: rgb(36, 41, 46);
}

.percent {
  color: rgb(88, 96, 105);
}

#gh-dark-mode-only:target {
  h2 {
    color: #c9d1d9;
    fill: #c9d1d9;
  }

  #background {
    fill: #0d1117;
    stroke-width: 0.5px;
  }

  .octicon {
    color: #8b949e;
    fill: #8b949e;
  }

  .progress {
    background-color: rgba(110, 118, 129, 0.4);
  }

  .progress-item {
    outline: 2px solid #393f47;
  }

  .lang {
    color: #c9d1d9;
  }

  .percent {
    color: #8b949e;
  }
}
